<head>
    <link rel="stylesheet" href="/Styles/index.css">
</head>
<%- include("partials/header.ejs")%>
<!-- MAIN BODY -->



<div class="card-container">
    <% camp.forEach(function(site){ %>
        <a href="/camps/<%= site._id %>"><div class="card">
            <div class="card-header">
                <img src=<%= site.url %> alt=<%= site.name %> />
            </div>
            <div class="card-body">
                <span class="tag tag-teal"><%= site.name %></span>
                <!-- <h5><%= site.description%></h5> -->
            </div>
        </div></a>
    <% }) %>
</div>


<div class="jumbotron" id="jumbotron-index">
    <h2 style="font-weight: bold;"><a href="/camps/update">Add New CampGround</a></h2>
</div>



<!-- MAIN BODY END-->
<%- include("partials/footer.ejs")%>